/* MENUS (HEADER AND FOOTER) */

.header {
  width: 100%;
  &__inner {
    padding: 50px;
    box-shadow: 1px;
    transform: translate3d(50px, 50px, 50px);
    display: flex;
  }
}

.footer {
  width: 100%;
  &__inner {
    display: flex;
  }
}