/* ==========================================================================
   PAGE-MAIN !DEVICE!
   ========================================================================== */

@media (max-width: @device){
  .section-1 {
    &__description {
      width: 100%;
      max-width: 700px;
    }
  }

  .section-2 {
    height: 100%;
    padding-bottom: 15px;
    &__inner {
      padding-top: 40px;
    }
    &__phrase {
      &--reason {
        display: none;
      }
    }
  }

  .section-3 {
    &-row {
      &--left {
        width: 100%;
        margin-bottom: 14px;
      }
      &--right {
        margin-bottom: 50px;
      }
    }
    &__list {
      &-icon {
        flex: 0;
      }
      &-column {
        width: 100%;
        height: 289px;
        &--item-1 {
          width: 50%;
        }
        &--item-2 {
          width: 50%;
        }
      }
    }
    &__icon {
      &-name {
        flex: 2;
      }
    }
    &__illustration {
      width: 100%;
      height: 100%;
      &-text {
        display: none;
      }
    }
  }

  .section-4 {
    height: 100%;
    &-row {
      &--center {
        width: 100%;
      }
    }
    &__screen {
      margin-bottom: 33px;
    }
    &__button {
      margin-bottom: 50px;
    }
  }

  .section-6 {
    height: 100%;
    &-row {
      &--center {
        width: 100%;
      }
    }
    &__screen {
      height: 100%;
      margin-bottom: 33px;
    }
    &__image {
      height: inherit;
    }
    &__text {
      margin-bottom: 14px;
    }
    &__button {
      margin-bottom: 50px;
    }
  }

  .section-7 {
    height: 100%;
    &-row {
      &--center {
        width: 100%;
      }
    }
    &__row {
      &--wrapper {
        margin-bottom: 50px;
      }
    }
    &__phrase {
      text-align: initial;
      flex: 2;
    }
    &__icon {
      flex: 0;
    }
  }

  .section-8 {
    height: 100%;
    &__row {
      &--wrapper {
        width: 100%;
      }
    }
    &__title {
      text-align: center;
    }
    &__text {
      margin: -10px 0 50px 0;
    }
  }

  .section-9 {
    height: 100%;
    &__text {
      width: 100%;
    }
    &__list {
      &-column {
        width: 285px;
        height: 101px;
      }
    }
  }
}