/* ==========================================================================
   PAGE-MAIN
   ========================================================================== */
@font-face {
  font-family: 'Futura';
  font-weight: 400;
  font-style: normal;
  src: url(assets/fonts/futura.ttf);
}

body {
  background: #ffffff;
}

.section-1 {
  width: 100px;

  &__inner {
    display: flex;
  }

}