/* ==========================================================================
   PAGE-MAIN
   ========================================================================== */

body {
  background: #ffffff;
}

.section-1 {
  width: 100px;

  &__inner {
    display: flex;
  }

}