/* ==========================================================================
   PAGE-SINGLE
   ========================================================================== */

.page-single {
  display: flex;
  width: 100%;
  margin-top: 25px;
  &__content {
    height: auto;
  }
  &__inner {
    width: 100%;
    min-height: 670px;
    justify-content: center;
  }
}